@font-face {
    font-family: 'commissioner';
    src: url('/fonts/commissioner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'quicksand';
    src: url('/fonts/quicksand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }