---
import SecondaryPage from '@components/common/SecondaryPage.astro';
import ServiceCard from '@components/common/ServiceCard.astro';
import { getCollection } from 'astro:content';

const services = await getCollection('services');
const sortedServices = services.sort(
  (a, b) => (a.data.order || 0) - (b.data.order || 0)
);
---

<SecondaryPage
  title='Naše usluge'
  description='Otkrijte našu paletu usluga dizajniranih da transformiraju vaš prostor u nešto izvanredno.'
  breadcrumbs={[{ label: 'Naše usluge', href: '/usluge' }]}
>
  <div class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
    {
      sortedServices.map((service) => (
        <ServiceCard
          title={service.data.title}
          description={service.data.description}
          icon={service.data.icon}
          slug={service.slug}
        />
      ))
    }
  </div>
</SecondaryPage>
