---
import HomeSection from '@components/common/HomeSection.astro';
import Text from '@components/common/Text.astro';
import { Image } from 'astro:assets';
import kancelarija from '@assets/photos/kancelarija-2.jpg';
import Icon from '@components/common/Icon.astro';

interface Props {
  title: string;
  description: string;
  cta: string;
}

const { title, description, cta } = Astro.props;
---

<HomeSection
  title={title}
  centerText
  backgroundColor='bg-background-light dark:bg-background-dark'
>
  <div class='grid md:grid-cols-2 gap-4'>
    <div class='flex flex-col justify-between'>
      <Text
        level='body'
        themed
        class='mb-8'
      >
        {description}
      </Text>
      <a
        href='/o-nama'
        class='self-end flex items-center justify-end'
      >
        {cta}
        <Icon name='chevron-right' />
      </a>
    </div>
    <div class='flex flex-col justify-end self-end gap-4'>
      <Image
        src={kancelarija}
        alt='About us'
        quality='low'
        class='w-full h-auto'
      />
    </div>
  </div>
</HomeSection>
