---
import Section from '@components/common/HomeSection.astro';

interface Props {
  title: string;
  description: string;
  buttonText: string;
  link: string;
}

const { title, buttonText, link } = Astro.props;
---

<Section
  title={title}
  backgroundColor='bg-primary dark:bg-primary-dark'
  titleColor='light'
  centerText
>
  <div class='flex justify-center'>
    <a
      href={link}
      class='btn font-bold py-2 px-4 rounded transition'
    >
      {buttonText}
    </a>
  </div>
</Section>

<style>
  .btn {
    @apply bg-accent-dark dark:bg-accent-light hover:bg-neutral-100 dark:hover:bg-background-light dark:hover:text-text-light text-primary dark:text-secondary-dark;
  }
</style>
