---
import Section from '@components/common/Section.astro';
import Text from '@components/common/Text.astro';

interface Props {
  title: string;
  description: string;
  buttonText: string;
  link: string;
}

const { title, description, buttonText, link } = Astro.props;
---

<Section
  title={title}
  backgroundColor='bg-primary dark:bg-primary-dark'
  titleColor='light'
>
  <div class='flex justify-center'>
    <a
      href={link}
      class='bg-white dark:bg-background-dark hover:bg-neutral-100 dark:hover:bg-background-light text-primary dark:text-primary-light font-bold py-2 px-4 rounded transition duration-300'
    >
      {buttonText}
    </a>
  </div>
</Section>
