---
import Section from '@components/common/HomeSection.astro';
import Text from '@components/common/Text.astro';

interface Testimonial {
  content: string;
  author: string;
}

interface Props {
  title: string;
  testimonials: Testimonial[];
}

const { title, testimonials } = Astro.props;
---

<Section title={title}>
  <div class='grid md:grid-cols-2 gap-8'>
    {
      testimonials.map((testimonial) => (
        <div class='bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md transition-colors duration-300'>
          <Text
            level='body'
            color='primary'
            class='italic mb-4'
          >
            "{testimonial.content}"
          </Text>
          <Text
            level='small'
            color='primary'
            class='font-semibold'
          >
            - {testimonial.author}
          </Text>
        </div>
      ))
    }
  </div>
</Section>

<style>
  .dark .bg-white {
    @apply bg-gray-800;
  }
</style>
