---
import MobileMenuToggle from './MobileMenuToggle.astro';
import MobileMenu from './MobileMenu.astro';
import Icon from '@components/common/Icon.astro';
import ThemeToggle from '@components/common/ThemeToggle.astro';
---

<header
  class='fixed top-0 left-0 right-0 z-50 transition-all duration-300'
  id='main-header'
>
  <nav class='mx-auto px-10 py-10'>
    <div class='flex justify-between items-center'>
      <a href={`/`}>
        <Icon
          name='nodesign-brand-dark'
          width={200}
          class='text-current dark:hidden'
          id='nodesign-brand-logo-dark'
        />
        <Icon
          name='nodesign-brand-light'
          width={200}
          class='text-current'
          id='nodesign-brand-logo-light'
        />
      </a>

      <!-- Desktop Navigation -->
      <div class='hidden md:flex space-x-8 items-center'>
        <a
          class='text-2xl'
          href={`/o-nama`}
          >O nama</a
        >
        <a
          class='text-2xl'
          href={`/kontakt`}
          >Kontakt</a
        >
        <ThemeToggle key='main-header-toggle' />
      </div>

      <!-- Mobile Navigation Toggle -->
      <div class='md:hidden'>
        <MobileMenuToggle />
      </div>
    </div>
  </nav>
</header>

<MobileMenu />

<style lang='scss' is:global>
  #main-header a {
    @apply text-white;
  }

  html.dark #main-header.scrolled {
    @apply bg-background-dark shadow-md;
  }
  html:not(.dark) #main-header {
    &:not(.scrolled) {
      #nodesign-brand-logo-dark {
        @apply hidden;
      }
      #main-header-toggle {
        @apply hidden;

        svg#main-header-toggle-light,
        svg#main-header-toggle-dark {
          @apply hidden;
        }
      }
    }
    &.scrolled {
      #nodesign-brand-logo-light {
        @apply hidden;
      }
      #nodesign-brand-logo-dark {
        @apply block;
      }
      @apply bg-white  dark:bg-background-dark shadow-md;

      a {
        @apply text-black;
      }

      #main-header-toggle {
        svg#main-header-toggle-light {
          @apply text-text-light fill-text-light;
        }
        svg#main-header-toggle-dark {
          @apply text-text-light fill-text-light;
        }
      }
    }
    @apply text-black;
  }
</style>

<script>
  import { toggleThemeProcedure } from '../../utils/themeToggle.ts';

  const themeToggleBtn = document.getElementById('main-header-toggle');

  themeToggleBtn?.addEventListener('click', toggleThemeProcedure);
</script>

<script>
  const header = document.getElementById('main-header');
  const scrollThreshold = 150;

  function updateHeaderBackground() {
    if (window.scrollY > scrollThreshold) {
      header?.classList.add('scrolled');
    } else {
      header?.classList.remove('scrolled');
    }
  }

  window.addEventListener('scroll', updateHeaderBackground);
  updateHeaderBackground();
</script>
