---
import MobileMenuToggle from './MobileMenuToggle.astro';
import MobileMenu from './MobileMenu.astro';
import Icon from '@components/common/Icon.astro';
import ThemeToggle from '@components/common/ThemeToggle.astro';
---

<header
  class:list={['fixed top-0 left-0 right-0 z-50 transition-all duration-300']}
  id='main-header'
>
  <nav class='container py-3'>
    <div class='flex justify-between items-center'>
      <a href={`/`}>
        <Icon
          name='nodesign-brand'
          width={200}
          id='nodesign-brand-logo'
        />
      </a>

      <!-- Desktop Navigation -->
      <div class='hidden md:flex space-x-8 items-center'>
        <a
          class='text-2xl'
          href={`/o-nama`}
          >O nama</a
        >
        <a
          class='text-2xl'
          href={`/kontakt`}
          >Kontakt</a
        >
        <ThemeToggle key='main-header-toggle' />
      </div>

      <!-- Mobile Navigation Toggle -->
      <div class='md:hidden'>
        <MobileMenuToggle />
      </div>
    </div>
  </nav>
</header>

<MobileMenu />

<style lang='scss' is:global>
  #main-header a {
    @apply text-white;
  }

  html.dark #main-header.scrolled {
    @apply bg-background-dark shadow-md;
  }

  html:not(.dark) #main-header {
    &:not(.scrolled) {
      #main-header-toggle {
        @apply hidden;

        svg#main-header-toggle-light,
        svg#main-header-toggle-dark {
          @apply hidden;
        }
      }
    }
    &.scrolled {
      #nodesign-brand-logo {
        @apply text-text-light;
      }
      @apply bg-white  dark:bg-background-dark shadow-md;

      a {
        @apply text-black;
      }

      #main-header-toggle {
        svg#main-header-toggle-light {
          @apply text-text-light fill-text-light;
        }
        svg#main-header-toggle-dark {
          @apply text-text-light fill-text-light;
        }
      }
    }
  }
</style>

<script>
  import { toggleThemeProcedure } from '../../utils/themeToggle.ts';

  const themeToggleBtn = document.getElementById('main-header-toggle');

  themeToggleBtn?.addEventListener('click', toggleThemeProcedure);
</script>
<script>
  const header = document.getElementById('main-header');
  const scrollThreshold = 150;

  function updateHeaderBackground() {
    if (window.scrollY > scrollThreshold) {
      header?.classList.add('scrolled');
    } else {
      header?.classList.remove('scrolled');
    }
  }

  document.addEventListener('astro:page-load', () => {
    console.log('Page loaded!');
    // This runs on first page load and after every navigation.
    updateHeaderBackground(); // e.g. add event listeners
  });
  window.addEventListener('scroll', updateHeaderBackground);
  updateHeaderBackground();
</script>
