---
import Icon from '@components/common/Icon.astro';
import ThemeToggle from '@components/common/ThemeToggle.astro';
import { getCollection } from 'astro:content';

const settingsData = await getCollection('settings');

const menuItems = settingsData[0].data.navigation;
const socialLinks = settingsData[0].data.socialMedia;
---

<div
  id='mobile-menu'
  class='fixed inset-0 bg-background-light dark:bg-background-dark z-40 hidden'
>
  <div class='flex flex-col h-full justify-between py-20 px-8'>
    <nav class='flex-grow flex items-center justify-center'>
      <ul class='text-center text-text-light dark:text-text-dark'>
        {
          menuItems.map((item) => (
            <li class='mb-8'>
              <a
                class='text-text-light dark:text-text-dark text-2xl'
                href={item.url}
              >
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <ul class='flex justify-center space-x-4'>
      {
        socialLinks.map((link) => (
          <li>
            <a
              href={link.url}
              target='_blank'
              rel='noopener noreferrer'
            >
              <Icon
                name={link.icon}
                width={32}
                height={32}
              />
            </a>
          </li>
        ))
      }
      <ThemeToggle key='mobile-header' />
    </ul>
  </div>
</div>

<script>
  import { toggleThemeProcedure } from '../../utils/themeToggle.ts';

  const themeToggleBtn = document.getElementById('mobile-header');

  themeToggleBtn?.addEventListener('click', toggleThemeProcedure);
</script>
<style>
  body.menu-open {
    overflow: hidden;
  }
</style>
