---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} NoDesign | Sva prava zadržana.</p>
	
</footer>
<style>
	footer {
		padding: 1em 0em 0em 0em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer p{
		color: black;
		font-size: 14px;
		padding: 0px;
	}
</style>
