---
import MobileMenuToggle from '@components/MobileMenuToggle.astro';
import MobileMenu from '@components/MobileMenu.astro';
import Icon from './common/Icon.astro';
---

<header
  class='fixed top-0 left-0 right-0 z-50 transition-all duration-300'
  id='main-header'
>
  <nav class='container mx-auto px-4 py-4'>
    <div class='flex justify-between items-center'>
      <a
        href={`/`}
        class='text-2xl font-display font-bold text-nodesign-primary'
      >
        <Icon
          name='nodesign-brand-light'
          width={200}
          class='text-current'
        />
      </a>

      <!-- Desktop Navigation -->
      <div class='hidden md:flex space-x-8 items-center'>
        <a
          href={`/o-nama`}
          class='text-gray-300 hover:text-gray-500'
          >O nama</a
        >
        <a
          href={`/kontakt`}
          class='text-gray-300 hover:text-gray-500'
          >Kontakt</a
        >
      </div>

      <!-- Mobile Navigation Toggle -->
      <div class='md:hidden'>
        <MobileMenuToggle />
      </div>
    </div>
  </nav>
</header>

<MobileMenu />

<style>
  #main-header {
    transition:
      background-color 0.3s ease,
      box-shadow 0.3s ease;
  }

  #main-header.scrolled {
    @apply bg-white shadow-md;
  }

  #main-header.scrolled .text-nodesign-primary,
  #main-header.scrolled .text-gray-500 {
    @apply text-gray-800;
  }

  #main-header:not(.scrolled) .text-nodesign-primary,
  #main-header:not(.scrolled) .text-gray-500 {
    @apply text-white;
  }
</style>

<script>
  const header = document.getElementById('main-header');

  const scrollThreshold = 50;

  function updateHeaderBackground() {
    if (window.scrollY > scrollThreshold) {
      header?.classList.add('scrolled');
    } else {
      header?.classList.remove('scrolled');
    }
  }

  window.addEventListener('scroll', updateHeaderBackground);
  updateHeaderBackground();
</script>
