---
// import LanguageToggle from './LanguageToggle.astro';
// import { type Language } from '@utils/config';

// const { lang } = Astro.params as { lang: Language };
---

<header class='bg-white shadow-sm sticky top-0 z-50'>
  <nav class='container mx-auto px-4 py-4'>
    <div class='flex justify-between items-center'>
      <a
        href={`/`}
        class='text-2xl font-display font-bold text-nodesign-primary'
        >NoDesign</a
      >
      <div class='hidden md:flex space-x-8 items-center'>
        <a
          href={`/o-nama`}
          class='text-gray-600 hover:text-nodesign-accent transition-colors'
          >O nama</a
        >
        <a
          href={`/galerija`}
          class='text-gray-600 hover:text-nodesign-accent transition-colors'
          >Galerija</a
        >
        <a
          href={`/kontakt`}
          class='text-gray-600 hover:text-nodesign-accent transition-colors'
          >Kontakt</a
        >
      </div>
      <button class='md:hidden'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='h-6 w-6'
          fill='none'
          viewBox='0 0 24 24'
          stroke='currentColor'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M4 6h16M4 12h16M4 18h16'
          ></path>
        </svg>
      </button>
    </div>
  </nav>
</header>
