---
import Icon from './common/Icon.astro';
import ThemeToggle from './ThemeToggle.astro';

const menuItems = [
  { href: '/o-nama', text: 'O nama' },
  { href: '/kontakt', text: 'Kontakt' },
];

const socialLinks = [
  {
    name: 'Facebook',
    icon: 'social-facebook-black',
    url: 'https://facebook.com',
  },
  {
    name: 'Instagram',
    icon: 'social-instagram-black',
    url: 'https://instagram.com',
  },
] as const;
---

<div
  id='mobile-menu'
  class='fixed inset-0 bg-background-light dark:bg-background-dark z-40 hidden'
>
  <div class='flex flex-col h-full justify-between py-20 px-8'>
    <nav class='flex-grow flex items-center justify-center'>
      <ul class='text-center'>
        {
          menuItems.map((item) => (
            <li class='mb-8'>
              <a
                href={item.href}
                class='text-3xl text-text-dark dark:text-text-light transition-colors'
              >
                {item.text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <ul class='flex justify-center space-x-4'>
      {
        socialLinks.map((link) => (
          <li>
            <a
              href={link.url}
              class='text-text-dark dark:text-text-light hover:text-primary dark:hover:text-primary-light transition-colors'
              target='_blank'
              rel='noopener noreferrer'
            >
              <Icon
                name={link.icon}
                width={32}
                height={32}
              />
            </a>
          </li>
        ))
      }
      <ThemeToggle />
    </ul>
  </div>
</div>

<style>
  body.menu-open {
    overflow: hidden;
  }
</style>
