---
import Text from '@components/common/Text.astro';

interface ListItem {
  text: string;
  link?: string;
}

interface Props {
  title: string;
  items: ListItem[];
}

const { title, items } = Astro.props;
---

<div>
  <Text
    level='h3'
    color='light'
    class='mb-4'
  >
    {title}
  </Text>
  <ul class='space-y-2'>
    {
      items.map((item) => (
        <li>
          {item.link ? (
            <a href={item.link}>{item.text}</a>
          ) : (
            <Text
              level='small'
              color='light'
            >
              {item.text}
            </Text>
          )}
        </li>
      ))
    }
  </ul>
</div>
