---
import Text from '@components/common/Text.astro';
import Icon from '@components/common/Icon.astro';
import FooterList from './FooterList.astro';
import { getCollection } from 'astro:content';

const currentYear = new Date().getFullYear();
const settings = await getCollection('settings');
if (!settings) {
  return Astro.redirect('/404');
}
const data = settings[0].data;
---

<footer class='dark:bg-background-dark bg-primary-light py-8'>
  <div class='container'>
    <div class='mb-8'>
      <Icon
        name='nodesign-brand'
        width={200}
        class='mb-4 fill-text-light dark:fill-text-dark'
      />
    </div>
    <div class='grid grid-cols-1 md:grid-cols-2 gap-8 align-start'>
      <FooterList
        title='Brzi linkovi'
        items={settings[0].data.navigation}
      />
      <FooterList
        title='Kontakt informacije'
        items={[...data.contactInfo, ...data.socialMedia]}
      />
    </div>
    <div
      class='border-t border-neutral-700 mt-8 pt-8 flex flex-col md:flex-row justify-between items-center'
    >
      <Text
        level='small'
        themed
      >
        &copy; {currentYear} Atomic Solutions. Sva prava zadržana.
      </Text>
    </div>
  </div>
</footer>
