---
import Text, {
  type TextColor,
  type TextLevel,
} from '@components/common/Text.astro';

interface Props {
  title?: string;
  titleLevel?: TextLevel;
  titleColor?: TextColor;
  backgroundColor?: string;
  class?: string;
  centerText?: boolean;
  leftOnMobile?: boolean;
}

const {
  title,
  titleLevel = 'h2',
  titleColor = undefined,
  backgroundColor = 'bg-background-light dark:bg-background-dark',
  class: className,
  centerText = false,
  leftOnMobile = true,
} = Astro.props;
---

<section class:list={[backgroundColor, 'py-16', className]}>
  <div class='container'>
    {
      title && (
        <Text
          level={titleLevel}
          color={titleColor}
          class:list={[
            'mb-12',
            {
              'md:text-center': centerText,
              'md:text-left': leftOnMobile,
            },
          ]}
          label={title}
        />
      )
    }
    <slot />
  </div>
</section>
