---
const { href, text } = Astro.props;
---

<a
  href={href}
  target='_blank'
  rel='noopener noreferrer'
  class='text-text-light dark:text-text-dark hover:text-primary dark:hover:text-primary-light transition-colors'
>
  {text}
</a>
