---
import type { IconType } from 'collected_files/icons';
import Icon from './Icon.astro';
import Text, { type TextLevel } from './Text.astro';

interface Props {
  label?: string;
  level?: TextLevel;
  icon?: IconType;
  href?: string;
  iconRight?: boolean;
}

const { label, icon, href, iconRight = false } = Astro.props;
---

<a
  href={href}
  class:list={[
    {
      'flex items-center gap-2': !!icon,
      'flex-row-reverse': iconRight,
    },
  ]}
>
  {
    icon && (
      <Icon
        name={icon}
        width={24}
        height={24}
      />
    )
  }
  <Text
    level='body'
    themed
    asSpan
  >
    {label}
  </Text>
</a>
